body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #bcdaf8;
    background-image: radial-gradient(circle, #bcdaf8, #88acd8);
    background-size: 6px 6px;
    color: #2c3e50;
}

header {
    padding: 35px;
    text-align: center;
    background: #abcaf0;
    color: #040000;
}

nav {
    padding: 15px;
    text-align: center;
    background: #8099b1;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {
    color: #1abc9c;
    text-decoration: underline;
}

article {
    padding: 35px;
    max-width: 800px;
    margin: 25px auto;
    background: #ffffff;
    border-radius: 6px;
}

footer {
    padding: 20px;
    text-align: center;
    background: #8099b1;
    color: #ffffff;
}